.container{
    height: 300px;
    width: 600px;
    background-color: rgb(33, 187, 187);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:15px;
    
    
}

.item{
    /* height: 50px;
    width: 100px; */
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.one{
    grid-column-start: 1;
    grid-column-end: 3;
}