body{
    padding: 0;
    margin: 0;
    background-color: rgb(196, 191, 191);
    box-sizing: border-box;
}

.main{
    height: 50px;
    width: 900px;
    background-color: rgb(206, 129, 142);
    border: 3px solid rgb(26, 149, 197);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    
}

#nav{
    height: 50px;
    width: 80px;
    font-size: 24px;
    padding: 10px;  
    font-weight: 600;  
}