*{
    padding: 0px;
    margin: 0px;
}

.same{
    display:inline-block;
    height: 200px;
    width: 150px;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 2px 5px 8px black; 
    border-radius: 5px;
}

img{
    width: 150px;
    
} 

.card{
    padding: 0 2px 0 2px;
}

.same:hover{
    box-shadow: 0 8px 16px green;
    cursor: pointer;
}